<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Starter Template</title>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Your custom CSS (optional) -->
  <style>
    /* Add your custom styles here */
  </style>
</head>
<body>

  <!-- Your content goes here -->
  <div class="container">
    <br/>
    <br/>
    <br/>
    <h1>Hello, All This is a Test Django Application</h1>
    <br/>
    <p>This is the value coming from View: "{{context_var}} - {{title}}"</p>
  </div>

  <!-- Bootstrap JavaScript Bundle with Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Your custom JavaScript (optional) -->
  <script>
    // Add your custom JavaScript code here
  </script>
</body>
</html>
